/* styles/passwordGenerator.module.css */
/* Add to your CSS file */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
}


.container {
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 2em;
    color: #333;
}

.form {
    margin-top: 20px;
    margin-bottom: 15px;
}

.input {
    padding: 10px;
    margin-right: 10px;
    font-size: 1em;
    margin-top: 30px;
}
.label {
    display: block;
    margin-bottom: 5px;
}

.button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3; /* Darker shade for hover */
}

/* Add to your CSS file (e.g., styles/passwordGenerator.module.css) */

.copyButton {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    background-color: #28a745; /* Green color for success action */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copyButton:hover {
    background-color: #218838; /* Darker green on hover */
}


.output {
    margin-top: 20px;
    font-size: 3.2em;
    color: #555;
}

/* Add to your CSS file */

.passwordDisplay {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    text-align: center; /* Center-aligns the text inside the container */
    margin-left: auto; /* Centers the container itself */
    margin-right: auto;
}

/* Optional: If you want to set a specific width for the container */
.passwordDisplay {
    width: 60%; /* Example width */
}